<%- include('partials/head.ejs') %>
  <link href="/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <%- include('partials/header.ejs') %>
      </header>

      <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <form action="/addProduct" method="post" name="product-creator" id="product-creator"
          enctype="multipart/form-data">
          <div class="form-group p-1">
            <% if(isSubmitted){ %>
              <small class="text-success">Added the product successfully!</small>
              <br>
              <% } %>
                <legend>Product creator</legend>
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp"
                  placeholder="Enter name">
                <small class="error-message form-text text-danger"></small>
          </div>
          <div class="form-group p-1">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" name="price" placeholder="Product price(USD)">
            <small class="error-message form-text text-danger"></small>
          </div>
          <div class="form-group p-1">
            <label for="category">Category</label>
            <select name="category" id="category">
              <% for(let key in categories) { %>
                <option value=<%=key%>><%=categories[key]%>
                </option>
                <% } %>
            </select>
          </div>
          <div class="form-group p-1">
            <label for="image">Image</label>
            <input type="file" class="form-control" id="image" name="image" accept="image/png, image/jpg"
              enctype="multipart/form-data">
          </div>
          <div class="form-group p-1">
            <label for="Name">Description</label>
            <textarea class="form-control" id="description" name="description" placeholder="Product description"
              maxlength="500"></textarea>
            <small class="error-message form-text text-danger"></small>
          </div>
          <div class="container mt-2 d-flex justify-content-evenly">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-danger">Clear</button>
          </div>
        </form>
      </div>

      <%- include('partials/footer.ejs') %>
        </footer>
        <script src="js/productValidator.js"></script>
        <%- include('partials/end.ejs') %>