<%- include('partials/head.ejs') %>
  <link href="/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
  </head>

  <body>
    <%- include('partials/header.ejs') %>
      </header>
      <div class="container my-5">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center bg-body-tertiary border rounded-3">
            <li class="breadcrumb-item">
              <a class="link-body-emphasis fw-semibold text-decoration-none" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-house-door-fill" viewBox="0 0 16 16">
                  <path
                    d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z" />
                </svg>
                Home
              </a>
            </li>
            <li class="breadcrumb-item">
              <a class="link-body-emphasis fw-semibold text-decoration-none" href="/category/<%=product.category%>/">
                <%=categories[product.category]%>
              </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <%= product.name %>
            </li>
          </ol>
        </nav>
        <!-----new things------>
        <div class="container my-5">
          <div class="row d-flex justify-content-center">
            <div class="col-md-10">
              <div class="card">
                <div class="row">
                  <div class="col-md-6">
                    <img alt="Product Image" height="400px" width="400x" class="card-img"
                      src="data:<%= product.image.contentType %>;base64,<%= product.image.data.toString('base64') %>" />
                  </div>

                  <div class="col-md-6 product p-4">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i> <span
                          class="ml-1">Back</span> </div> <i class="fa fa-shopping-cart text-muted"></i>
                    </div>
                    <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand">
                        <%=product.vendor%>
                      </span>
                      <h5 class="text-uppercase">
                        <%= product.name %>
                      </h5>
                      <div class="price d-flex flex-row align-items-center">
                        <div class="ml-2"> <small class="act-price">$<%= product.price %></small>
                        </div>
                      </div>
                    </div>
                    <p class="about">
                      <%= product.description %>
                    </p>
                    <div class="cart mt-4 align-items-center"> 
                      <a href="/cart/<%=product._id%>/"
                        class="btn btn-danger text-uppercase mr-2 px-6">
                        <b>Add to cart</b>
                      </a> 
                        <i
                        class="fa fa-heart text-muted">
                      </i> 
                      <i class="fa fa-share-alt text-muted"></i> 
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <script>
          function change_image(image) {

            var container = document.getElementById("main-image");

            container.src = image.src;
          }
          document.addEventListener("DOMContentLoaded", function (event) {
          });</script>
      </div>
      <%- include('partials/footer.ejs') %>
        </footer>
        <%- include('partials/end.ejs') %>