<%- include('partials/head.ejs') %>
  <link href="/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
  </head>

<body>
  <%- include('partials/header.ejs') %>
  </header>

  <div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <h5>All(<%=orderedProducts.length%>)</h5>

            <div class="container sidebar-wrapper bg-transparent">

                <% orderedProducts.forEach((product) =>{ %>
                    <div class="row d-flex justify-content-center align-items-center active-product bg-light m-3">
                        <div class="col-md-4">
                            <img
                            src="data:<%= product.image.contentType %>;base64,<%= product.image.data.toString('base64') %>"
                            alt="Product Image" height="50px" width="100px" />
                        </div>
                        
                        <div class="col-md-8">
                            <h5 class="card-title"><%=product.vendor%></h5>
                            <div class="card-body p-1">
                                <p class="card-text">(Phone number)</p>
                                <p class="card-text">(Address)</p>
                            </div>
                        </div>
                    <a href="/shipper/dashboard/view/<%=product._id%>" type="button" class="btn btn-primary shipper-card-button">View</a>
                    </div>
                  <% }); %>
            </div>
        </div>

        <% let productData = activeProduct %>

        <% if (!activeProduct) { %>
        <% if (orderedProducts.length > 0) { %>
        <% productData = orderedProducts[0]; %>
        <% } else { %>
        <h5>No ordered products</h5>
        <% } %>
        <% } %>

        <% if(productData){ %>
            <div class="col-md-7 card"> 
            <div class="row">
                <h5>Name</h5>
                <p>Phone number</p>
                <p>Address</p>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="row">
                <h5><%=productData.name%></h5>
                <p>$<%=productData.price%></p>
                <p>Status: Active</p>
            </div>
            <a href="/shipper/dashboard/delivered/<%=productData._id%>" type="button" class="btn btn-secondary m-1">Delivered the product</a>
            <a href="/shipper/dashboard/cancel/<%=productData._id%>" type="button" class="btn btn-danger m-1">Cancel</a>
        </div>
      <%  } %>
    </div>
</div>
  
  <!-- Footer-->
  <%- include('partials/footer.ejs') %>
        </footer>
        <%- include('partials/end.ejs') %>